<ion-view ng-controller="DashboardCtrl">
    <ion-content class="dashboard">
        <div class="card dashboard-goals text-center">
            <div class="item item-text-wrap">
                <h2>Daily Goal</h2>
                <h1 class="goal">5 Salah Remaining</h1>
                <div class="progress">
                    <span class="progress-bar"><span class="progress-active"></span> Goal Completion rate</span> <span class="progress-text">100%</span>
                </div>
            </div>
        </div>
        <ion-list show-delete="shouldShowDelete"
                  show-reorder="shouldShowReorder"
                  can-swipe="listCanSwipe">
            <ion-item class="salah-item fajr">
                <div class="info">
                    <h1 class="salahName"></h1>
                    <div class="last-prayer-markers">
                        <div class="pan">
                            Last 3:
                            <span class="salah-marker small"></span>
                            <span class="salah-marker salah-qadha small"></span>
                            <span class="salah-marker salah-segregate small"></span>
                        </div>
                    </div>
                </div>
                <div class="controls">{{prayTimesToday.fajr}}</div>

                <ion-option-button class="button salah-congregate text-center"
                                   ng-click="markSalah('06/20/2015', 'fajr', 'congregation')">
                    <span class="ion-man"></span><span class="ion-man"></span><span class="ion-man"></span>
                </ion-option-button>
                <ion-option-button class="button salah-segregate text-center"
                                   ng-click="markSalah('06/20/2015', 'fajr', 'segregation')">
                    <span class="ion-man"></span>
                </ion-option-button>

                <ion-option-button class="button salah-qadha text-center"
                                   ng-click="markSalah('06/20/2015', 'fajr', 'qadha')">
                    <span class="ion-clock"></span>
                </ion-option-button>

                <!--To be used in Qadha and Missed screens
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="items.splice($index, 1)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
                -->

            </ion-item>

            <ion-item class="salah-item duhur">
                <div class="info">
                    <h1 class="salahName"></h1>
                    <div class="last-prayer-markers">
                        <div class="pan">
                            Last 3:
                            <span class="salah-marker small"></span>
                            <span class="salah-marker salah-qadha small"></span>
                            <span class="salah-marker salah-segregate small"></span>
                        </div>
                    </div>
                </div>
                <div class="controls">{{prayTimesToday.dhuhr}}</div>

                <ion-option-button class="button-positive"
                                   ng-click="markSalah('06/20/2015', 'dhuhr', 'segregation')">
                    Segr
                </ion-option-button>
                <ion-option-button class="button-info"
                                   ng-click="markSalah('06/20/2015', 'dhuhr', 'congregation')">
                    Cong
                </ion-option-button>
                <ion-option-button class="button-danger"
                                   ng-click="markSalah('06/20/2015', 'dhuhr', 'qadha')">
                    Qadha
                </ion-option-button>

            </ion-item>

            <ion-item class="salah-item asr">

                <div class="info">
                    <h1 class="salahName"></h1>
                    <div class="last-prayer-markers">
                        <div class="pan">
                            Last 3:
                            <span class="salah-marker small"></span>
                            <span class="salah-marker salah-qadha small"></span>
                            <span class="salah-marker salah-segregate small"></span>
                        </div>
                    </div>
                </div>
                <div class="controls">{{prayTimesToday.asr}}</div>

                <ion-option-button class="button-positive"
                                   ng-click="markSalah('06/20/2015', 'asr', 'segregation')">
                    Segr
                </ion-option-button>
                <ion-option-button class="button-info"
                                   ng-click="markSalah('06/20/2015', 'asr', 'congregation')">
                    Cong
                </ion-option-button>
                <ion-option-button class="button-danger"
                                   ng-click="markSalah('06/20/2015', 'asr', 'qadha')">
                    Qadha
                </ion-option-button>

            </ion-item>

            <ion-item class="salah-item maghrib">

                <div class="info">
                    <h1 class="salahName"></h1>
                    <div class="last-prayer-markers">
                        <div class="pan">
                            Last 3:
                            <span class="salah-marker small"></span>
                            <span class="salah-marker salah-qadha small"></span>
                            <span class="salah-marker salah-segregate small"></span>
                        </div>
                    </div>
                </div>
                <div class="controls">{{prayTimesToday.maghrib}}</div>

                <ion-option-button class="button-positive"
                                   ng-click="markSalah('06/20/2015', 'maghrib', 'segregation')">
                    Segr
                </ion-option-button>
                <ion-option-button class="button-info"
                                   ng-click="markSalah('06/20/2015', 'maghrib', 'congregation')">
                    Cong
                </ion-option-button>
                <ion-option-button class="button-danger"
                                   ng-click="markSalah('06/20/2015', 'maghrib', 'qadha')">
                    Qadha
                </ion-option-button>

            </ion-item>

            <ion-item class="salah-item esha">

                <div class="info">
                    <h1 class="salahName"></h1>
                    <div class="last-prayer-markers">
                        <div class="pan">
                            Last 3:
                            <span class="salah-marker small"></span>
                            <span class="salah-marker salah-qadha small"></span>
                            <span class="salah-marker salah-segregate small"></span>
                        </div>
                    </div>
                </div>
                <div class="controls">{{prayTimesToday.isha}}</div>

                <ion-option-button class="button-positive"
                                   ng-click="markSalah('06/20/2015', 'isha', 'segregation')">
                    Segr
                </ion-option-button>
                <ion-option-button class="button-info"
                                   ng-click="markSalah('06/20/2015', 'isha', 'congregation')">
                    Cong
                </ion-option-button>
                <ion-option-button class="button-danger"
                                   ng-click="markSalah('06/20/2015', 'isha', 'qadha')">
                    Qadha
                </ion-option-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>