@color-qadha: #e64c65;
@color-primary:#11a8ab;
@color-activated:#0d6a6c;
@color-congregate:#11a8ab;
@color-navbar:#11a8ab;
@color-segregate: #fcb150;
@color-base:#1f253d;
@color-card:#394264;
@color-tabs:#50597b;
@color-primary:#9099b7;
@color-facebook:#3b5998;
@color-twitter:#00aced;
@color-google:#dd4b39;

body {
   background-color:#1f253d;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
.bar.bar-positive{
    background-color:@color-navbar;
}
.bar-positive .button{
    background-color:@color-navbar;
    border-color:@color-navbar;
}
.pane, .view{
    background-color:@color-base;
}

.card, .list-inset{background-color:@color-card; border-radius:10px;}
.item{
    background-color:@color-card;
    h1{color:white;}
    h2{color:@color-primary;}
    p{color:white;}
}
   
/*Button Code*/

.bar-positive .button.active, .bar-positive .button.activated{
    background-color:transparent;

    border-color:white;
}

/* Button 3d */
.btn {
    border: 1px solid transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /*font-weight: 700;*/
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 10px;
    :after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    /* Pseudo elements for icons */
    :before {
        font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        position: relative;
        -webkit-font-smoothing: antialiased;
    }
}

.btn.activated{
   background:transparent;
    border:1px solid white;  
}

/* Button 3 */
.btn-3 {
	background: #fcad26;
	color: #fff;
}

.btn-3:hover {
	background: #f29e0d;
}

.btn-3:active {
	background: #f58500;
	top: 2px;
}

.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Button 3a */
.btn-3a {
	padding: 25px 60px 25px 120px;
}


.btn-facebook{
    background:@color-facebook;
    border:1px solid transparent;
}

.btn-twitter{
    background:@color-twitter;
}

.btn-google{
    background:@color-google;
}


.ion-social-facebook:before{
    content:"\f231";
}
.ion-social-twitter:before{
    content:"\f243";
}



#main-prayer-banner {
    /*background:#4d3c69;*/
    position: relative;
    margin-right: -20px;
    left: -16px;
    width: 110%;
    overflow: hidden;
    height: 229px;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;

    #sun {
        font-size: 5rem;
        color: #716498;
        background-color: #716498;
        display: block;
        margin: 10px auto;
        border-radius: 50%;
        height: 229px;
        width: 229px;
        position: absolute;
        bottom: -150px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 34.43pt;
        margin-top: 30px;

    }
}
.pan{
    padding:20px;
    color:white;
}
.goal{font-size:19.99pt;}
#main-prayer-banner.fajr,.fajr{
  background: #c88850; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #c88850 1%, #4e3b69 55%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#c88850), color-stop(55%,#4e3b69)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #c88850 1%,#4e3b69 55%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #c88850 1%,#4e3b69 55%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #c88850 1%,#4e3b69 55%); /* IE10+ */
background: radial-gradient(ellipse at 50% 100%,  #c88850 1%,#4e3b69 55%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c88850', endColorstr='#4e3b69',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 background-position-y:80%;
 #sun{
    background-color:#f7ef77;
}
 .salahName:after{
     content:'Fajr';
 }
}
#main-prayer-banner.duhur,.duhur,.duhur {
  background: #fffbb9; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #fffbb9 1%, #f5c82a 55%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#fffbb9), color-stop(55%,#f5c82a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #fffbb9 1%,#f5c82a 55%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #fffbb9 1%,#f5c82a 55%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #fffbb9 1%,#f5c82a 55%); /* IE10+ */
background: radial-gradient(ellipse at 50% 100%,  #fffbb9 1%,#f5c82a 55%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbb9', endColorstr='#f5c82a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 background-position-y:80%;
 #sun{
    background-color:white;
}
 .salahName:after{
     content:'Duhur';
     color:@color-base;
 }
}
#main-prayer-banner.asr,.asr{
  background: #c8b050; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #c8b050 1%, #c1622e 55%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#c8b050), color-stop(55%,#c1622e)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #c8b050 1%,#c1622e 55%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #c8b050 1%,#c1622e 55%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #c8b050 1%,#c1622e 55%); /* IE10+ */
background: radial-gradient(ellipse at 50% 100%,  #c8b050 1%,#c1622e 55%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8b050', endColorstr='#c1622e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 background-position-y:80%;
 #sun{
    background-color:#7a1f06;
}
 .salahName:after{
     content:'Asr';
     
 }
}
#main-prayer-banner.maghrib,.maghrib{
  background: #509cc8; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #509cc8 1%, #2f273c 55%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#509cc8), color-stop(55%,#2f273c)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #509cc8 1%,#2f273c 55%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #509cc8 1%,#2f273c 55%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #509cc8 1%,#2f273c 55%); /* IE10+ */
background: radial-gradient(ellipse at 50% 100%,  #509cc8 1%,#2f273c 55%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#509cc8', endColorstr='#2f273c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 background-position-y:80%;
 #sun{
    background-color:#a46146;
}
 .salahName:after{
     content:'Maghrib';
     
 }
}
#main-prayer-banner.esha,.esha{
  background: #509cc8; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #509cc8 1%, #2f273c 55%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#509cc8), color-stop(55%,#2f273c)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #509cc8 1%,#2f273c 55%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #509cc8 1%,#2f273c 55%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #509cc8 1%,#2f273c 55%); /* IE10+ */
background: radial-gradient(ellipse at 50% 100%,  #509cc8 1%,#2f273c 55%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#509cc8', endColorstr='#2f273c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 background-position-y:80%;
 
 #sun{
    background-color:white;
}
 .salahName:after{
     content:'Esha';
     
 }
}
.salah-item{
    
    .item-content{
        background-color:@color-google;
    }
.salahName{
    color:@color-qadha;
    font-size:1.5rem;
}
.pan{
    padding:5px;
    background:rgba(0,0,0,0.2);
    border-radius:5px;
    font-size:0.8rem;
    width:100px;
}
.salah-marker{
    border-width:2px;
}
}

.salah-marker{width:16px;height:16px;border-radius:50%;border:3px solid @color-primary;display:inline-block;}
.salah-marker.small{
    width:8px;
    height:8px;
}
.salah-qadha{
    background:@color-qadha;
    border:none;
}
.salah-segregate{
    background:@color-segregate;
    border:none;
}
.salah-congregate{
    background:@color-congregate;
    border:none;
}

.main-selection{

    a.button{
        height:150px;
        display:inline-block;
        border:0 solid;
        border-top:6px solid @color-primary;
        background-color:@color-tabs;
        color:@color-primary;
        border-right:1px solid @color-primary;
    }
    .button:last-child{
         border-right-width:0;
    }
    a{
       
        span{
            font-size:3rem;
            display:inline-block;
            height:50px;
            padding-top:35px;
        }
    }
    a.activated{
        color:white;
    }
    a.segregate{
        border-color:@color-segregate;
    }
    a.segregate.activated{
        background-color:@color-segregate;
    }
    a.congregate{
        border-color:@color-congregate;
    }
    a.congregate.activated{
        background-color:@color-congregate;
    }
    a.qadha{
        border-color:@color-qadha;
    }
    a.qadha.activated{
        background-color:@color-qadha;
    }
}